<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
  <title>LadyLit</title>
</head>
  <body>
    <div class="container">
      <div > 
        <h1>LadyLit</h1>
      </div>
  
      <div>
        {{{body}}}
      </div>
      <div> 
        <footer class="footer">transwomen are women, we live on stolen land, we must dismantle patriarchy</footer>
      </div>
    </div>
  </body>
</html>