   <div> 
      <a href="/clitQuiz"><img class= 'clitImg' src="https://img.buzzfeed.com/buzzfeed-static/static/2017-06/28/12/campaign_images/buzzfeed-prod-fastlane-02/19-books-that-everyone-with-a-vagina-should-read-2-23506-1498668422-1_dblbig.jpg?resize=1200:*" alt="a lady fingering a book in between her legs">
      </a>
      <div class="middle">
        <div class="text"><a href="/clitQuiz">clit me</a></div>
      </div>
    </div> 

<h1>let's discover some (c)literature</h1>

{{!-- things to fix:

the space around the actual image(whole div) acts as a link and creates the hover affect: how to limit this just to the image

--}}
